:root {
    --accent-color: #ff6d24;
    --primary-color: #4e413b;
    --secondary-color: #bba69f;
    --background-color: #fffbf0;
    --box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    --body-font-family: 'Poppins', sans-serif;
    --header-font-family: 'Playfair Display', serif;
    --width: 800px;
  }
  body {
    color: var(--primary-color);
    margin: 0 auto;
    font-family: var(--body-font-family);
  }
  /* style navigation */
  nav{
    background: var(--secondary-color);
  }
  nav ul{display: inline;
  }
  nav li{
    display: inline;
    list-style: none;
    margin-left: 20px;
  }
  li a,
  .dropdown-item
  {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--background-color);
  }
  .active{
    color: var(--accent-color);
    font-weight: 500;
  }
  .dropdown-menu{
    background: var(--secondary-color);
  }
  .dropdown-end .active{
    background: var(--secondary-color);
    color: var(--accent-color);
    font-weight: 500;

  }
  .dropdown-toggle{
    border: none;
    text-decoration-skip: none;
  }
  /* end style navigation */
  header {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  section h2{
    font-family: var(--header-font-family);
  }
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    flex-wrap: wrap;
  }
  footer a{
    text-decoration: none;
    color: var(--primary-color)
  }
  h1 {
    font-family: var(--header-font-family);
    font-size: 64px;
    text-align: center;
    margin: 10px;
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
  }
  h4{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }
  h5{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  h6{
    font-size: 14px;
    font-weight: 400;
  }
  a {
    text-align: center;
    font-size: 16px;
  }
  button {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 15px;
    padding: 20px 10px;
    border-radius: 5px;
  }
  p {
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
  }
  .about {
    max-width: var(--width);
  }
  .about-me {
    background: var(--secondary-color);
    border-radius: 5px;
    color: var(--background-color);
  }
  .contacts h5{
    text-align: start;
  }
  .navbar-brand {
    font-size: 28px;
  }  
  .top-home{
    padding: 160px 20px;
  }
  .top-about{
    padding: 200px 20px;
  }
  .top-works{
    padding: 240px 20px;
  }
  .top-contacts{
    padding: 50px 20px;
  }
  .work:hover{
    transform:scale(1.5);
  }
  #contact {
    color: var(--accent-color);
  }
  #foto {
    background: rgba(187, 166, 159, 0.6);
    box-shadow: var(--box-shadow);
  }
  #go-to-top {
    background-color: var(--secondary-color);
    color: var(--background-color);
    box-shadow: var(--box-shadow);
    border: none;
    margin-bottom: 20px;
    width: 120px;
  }
  i{
    font-size: 40px;
  }
  #launch {
    background-color: var(--secondary-color);
    color: var(--background-color);
    box-shadow: var(--box-shadow);
    border: none;
    width: 160px;
    transition: all 200ms ease-in-out;
  }
  #launch:hover {
    color: var(--primary-color);
    transform: scale(1.1);
  }
  #mail {
    font-size: 28px;
    margin-bottom: 20px;
    text-decoration: none;
  }
  #mail:hover {
    color: var(--accent-color);
    font-size: 28px;
  }
  #myphoto{
    transform:skew(-10deg, 10deg);
  }
  #orange {
    background-color: var(--accent-color);
    color: var(--background-color);
    box-shadow: var(--box-shadow);
    border: none;
    width: 140px;
  }
  #see-button{
    background: var(--background-color);
    color: var(--primary-color);
    border: none;
    transition: all 200ms ease-in-out;
  }
  #see-button:hover{
    border: 3px solid var(--accent-color);
    color: var(--accent-color);
  }#see-button:focus{
    border: 3px solid var(--background-color);
    color: var(--background-color);
    background: var(--accent-color);
  }


  
  
    
  @media(max-width:768px){
    #launch{
        width: 220px;
        text-decoration: none;
    }   
    #myphoto{
      transform: none;
    }    
    .top-about{
      padding: 240px 20px;
    }
    .top-works{
      padding: 140px 20px;
    } 
  }
  @media(min-width:900px){
    h1{
      font-size: 96px;
    }
  }